$top-tool-bar-bgcolor: #FAFAFA;
$top-tool-bar-color: #777;
$top-tool-bar-fontsize: 12px;
$top-tool-bar-height: 30px;

.top-tool-bar {
  background-color: $top-tool-bar-bgcolor;
  color: $top-tool-bar-color;
  border-bottom: 1px solid #F0F0F0;
  height: $top-tool-bar-height;

  .user-entry {
    font-size: $top-tool-bar-fontsize;
    line-height: $top-tool-bar-height;
    display: block;
    float: left;
    @include clearfix;

    a:link, a:visited, a:active {
      text-decoration: none;
    }
    a:hover {
      color: #D93600;
      text-decoration: none;
    }
  }

  .quick-bar {
    font-size: 12px;
    text-align: right;
    height: $top-tool-bar-height;
    float: right;
    @include clearfix;
    .quick-menu {

      z-index: 999;
      float: left;
      @include dropdown(80px, 30px, 0px, #FAFAFA, #FFF, 80px, 'r');
      @include clearfix;

      .dd-main-layer {
        border: {
          width: 0px;
        }
      ;
      }

      i {
        background: transparent url("../images/top_bg.png") no-repeat scroll 0px 0px;
        vertical-align: middle;
        display: inline-block;
        width: 6px;
        height: 3px;
        margin-left: 6px;
        transition: all 0.2s ease-in 0s;
      }

      ul {
        padding-left: 0px;
        list-style-type: none;
        li {
          padding: 3px 0;
        }
      }

      &.hover {
        .dd-main-layer {
          border: {
            top: {
              width: 0px;
            }
          ;
          }
        ;
        }

        i {
          transform: rotate(180deg);
          transform-origin: 50% 30% 0px;
        }
      }

      a {
        color: $top-tool-bar-color;
        &:hover {
          color: red;
        }
      }
    }
  }
}




