$top-tool-bar-bgcolor: #FAFAFA;
$top-tool-bar-color: #777;
$top-tool-bar-fontsize:12px;
$top-tool-bar-height:30px;



.top-tool-bar {
  background-color: $top-tool-bar-bgcolor;
  color: $top-tool-bar-color;
  border-bottom: 1px solid #F0F0F0;
  height: $top-tool-bar-height;

  .user-entry {
    font-size: $top-tool-bar-fontsize;
    line-height: $top-tool-bar-height;
    display: block;
    float: left;
    @include clearfix;

    a:link, a:visited, a:active {
      text-decoration: none;
    }
    a:hover {
      color: #D93600;
      text-decoration: none;
    }
  }

  .quick-bar {
    font-size: 12px;
    text-align: right;
    height:$top-tool-bar-height;
    float: right;
    zoom: 3;
    @include clearfix;
    .quick-menu{
      @include dropdown(80px,30px,0px,#FAFAFA,#FFF,80px,'r');
      float: left;
      @include clearfix;

      ul{
        padding-left: 0px;
        list-style-type:none;
        li{
          padding:5px 0;
        }
      }
    }



    /*dl {
      text-align: left;
      vertical-align: top;
      letter-spacing: normal;
      word-spacing: normal;
      display: inline-block;
      width: 80px;
      height: $top-tool-bar-height;
      position: relative;
      z-index: 999;
      margin: 0;

      i {
        background: transparent url("../images/top_bg.png") no-repeat scroll 0px 0px;
        vertical-align: middle;
        display: inline-block;
        width: 6px;
        height: 3px;
        margin-left: 6px;
        transition: all 0.2s ease-in 0s;
      }

      dd {
        background-color: #FFF;
        display: none;
        width: 78px;
        border: 1px solid #F0F0F0;
        position: absolute;
        z-index: 1;
        top: 0px;
        left: 0px;

        ul {
          margin: $top-tool-bar-height 0px 0px;
          list-style-type:none;
          padding-left: 0px;

          li {

            a {
              font-size: 12px;
              line-height: 24px;
              display: block;
              clear: both;
              padding: 2px 0px 2px 11px;

              &:hover{
                text-decoration: none;
                background-color: #F7F7F7;
              }
            }
          }
        }
      }

      dt {
        font-size: 12px;
        line-height: 20px;
        height: 20px;
        padding: 5px 0px;
        position: absolute;
        z-index: 2;
        top: 0px;
        left: 12px;
        font-weight: normal;
      }
      &.hover{
        dd {
          display: block;
        }
        i {
          transform: rotate(180deg);
          transform-origin: 50% 30% 0px;
        }
      }
    }*/
  }
}

/* 连接 */
a {
  color: #333;
  text-decoration: none;
  outline: medium none;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;

  &:hover,&:link,&:visited,&:active{
    text-decoration: none;
  }
}




