
$header-search-height:34px;
$header-search-border-color : #B61D1D;
$header-search-input-width : 446px;
$header-search-btn-width : 82px;


$header-user-menu-height:44px;
$header-user-menu-dl-width:124px;

.header{

  padding-top: 10px;


  .text{
    float: left;
    width: $header-search-input-width;
    height: $header-search-height;
    line-height: $header-search-height;
    color: #666;
    padding: 4px;
    margin-bottom: 4px;
    border:{
      width: 2px 0px 2px 2px;
      color: $header-search-border-color;
      style: solid;
    };
    outline: 0px none;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    @include clearfix;
  }

  .search{
    margin-top: 15px;
  }
  .input-submit{
    float: left;
    width: $header-search-btn-width;
    height: $header-search-height;
    background: $header-search-border-color;
    border: none;
    line-height: 1;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    cursor: pointer;
    @include clearfix;
  }


  .user-menu{
    margin-top: 10px;
    @include dropdown(150px,44px,0 28px 0 36px,#F9F9F9,#FFF,308px,'r');
    i{
      font-size: 0px;
      line-height: 0;
      vertical-align: middle;
      display: inline-block;
      width: 0px;
      height: 0px;
      border: {
        width: 4px;
        color:  #777 transparent transparent transparent;
        style: solid dashed dashed dashed;
      };

      -webkit-transition: .2s ease-in;
      -moz-transition: -webkit-transform .2s ease-in;
      -o-transition: -webkit-transform .2s ease-in;
      transition: .2s ease-in;
    }
    &.hover{
      i {
        transform: rotate(180deg);
        transform-origin: 50% 30% 0px;
      }
    }
  }
}
