
.header{

  .text{
    float: left;
    width: 446px;
    height: 34px;
    line-height: 34px;
    color: #666;
    padding: 4px;
    margin-bottom: 4px;
    border-width: 2px 0px 2px 2px;
    border-color: #B61D1D;
    border-style: solid;
    outline: 0px none;
    font-size: 14px;
    font-family: "microsoft yahei"
  }

  .btn-search{
    background-color:#B61D1D ;
  }
}
