<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flyer.shop.mybatis.dao.IRoleMapper">
	<resultMap type="role" id="baseRM">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="r_name" property="roleName" jdbcType="VARCHAR" />
		<result column="r_sign" property="roleSign" jdbcType="VARCHAR" />
		<result column="r_desc" property="roleDesc" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<resultMap type="role" id="userAndRoleRM" extends="baseRM">
		<collection property="users" ofType="user">
			<id column="uid" property="id" jdbcType="BIGINT" />
			<result column="u_name" property="username" jdbcType="VARCHAR" />
			<result column="u_pwd" property="password" jdbcType="VARCHAR" />
			<result column="u_realname" property="realname" jdbcType="VARCHAR" />
			<result column="u_address" property="address" jdbcType="VARCHAR" />
			<result column="u_email" property="email" jdbcType="VARCHAR" />
			<result column="u_telephone" property="telephone" jdbcType="VARCHAR" />
			<result column="u_create_time" property="createTime" jdbcType="TIMESTAMP" />

		</collection>

	</resultMap>


	<sql id="table">
		sys_role
	</sql>
	<sql id="baseColumn">
		id,
		r_name,
		r_sign,
		r_desc,
		create_time
	</sql>

	<select id="select" parameterType="role" resultMap="baseRM">
		select
		<include refid="baseColumn" />
		from
		<include refid="table" />
		<where>
			<if test="id !=null ">
				and id = #{id , jdbcType=BIGINT}
			</if>
			<if test="roleName !=null and '' != roleName">
				and r_name = #{roleName , jdbcType=VARCHAR}
			</if>
			<if test="roleSign !=null and '' != roleSign">
				and r_sign = #{roleSign , jdbcType=VARCHAR}
			</if>
			<if test="roleDesc !=null and '' != roleDesc">
				and r_desc = #{roleDesc , jdbcType=VARCHAR}
			</if>
			<if test="createTime !=null ">
				and create_time = #{createTime , jdbcType=TIMESTAMP}
			</if>
			and id &lt;&gt; 1
		</where>
	</select>

	<insert id="insert" parameterType="role">
		insert into
		<include refid="table" />
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id !=null ">
				id,
			</if>
			<if test="roleName !=null and '' != roleName">
				r_name,
			</if>
			<if test="roleSign !=null and '' != roleSign">
				r_sign,
			</if>
			<if test="roleDesc !=null and '' != roleDesc">
				r_desc,
			</if>
			<if test="createTime !=null ">
				create_time,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id !=null ">
				#{id , jdbcType=BIGINT},
			</if>
			<if test="roleName !=null and '' != roleName">
				#{roleName , jdbcType=VARCHAR},
			</if>
			<if test="roleSign !=null and '' != roleSign">
				#{roleSign , jdbcType=VARCHAR},
			</if>
			<if test="roleDesc !=null and '' != roleDesc">
				#{roleDesc , jdbcType=VARCHAR},
			</if>
			<if test="createTime !=null ">
				#{createTime , jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="role">
		update
		<include refid="table" />
		<set>
			<if test="roleName !=null and '' != roleName">
				r_name = #{roleName , jdbcType=VARCHAR},
			</if>
			<if test="roleSign !=null and '' != roleSign">
				r_sign = #{roleSign , jdbcType=VARCHAR},
			</if>
			<if test="roleDesc !=null and '' != roleDesc">
				r_desc = #{roleDesc , jdbcType=VARCHAR},
			</if>
			<if test="createTime !=null ">
				create_time = #{createTime , jdbcType=TIMESTAMP},
			</if>
		</set>
		<where>
			id = #{id ,jdbcType=BIGINT }
		</where>
	</update>

	<delete id="delete" parameterType="role">
		delete from
		<include refid="table" />
		<where>
			<if test="id!=null">
				and id = #{id , jdbcType=BIGINT}
			</if>
		</where>
	</delete>


	<select id="selectRolesByUserId" parameterType="java.lang.Long"
		resultMap="baseRM">
		select
		r.id,
		r.r_name,
		r.r_sign,
		r.r_desc,
		r.create_time
		from
		<include refid="table" />
		r
		, sys_tre_user_role ur
		where r.id = ur.role_id and ur.user_id = #{userId,jdbcType=BIGINT}
	</select>

	<delete id="deleteRoleAndAuthority" parameterType="java.lang.Long">
		delete from
		sys_tre_role_authority where role_id = #{roleId}
	</delete>


	<insert id="insertRoleAndAuthority" parameterType="java.util.List">
		insert into sys_tre_role_authority
		(role_id,
		auth_id)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.role.id},#{item.authority.id})
		</foreach>
	</insert>

	<select id="selectUserAndRole" parameterType="user" resultMap="userAndRoleRM">

		SELECT
		r.id,
		r.r_name,
		r.r_sign,
		r.r_desc,
		r.create_time,
		u.id as uid,
		u.u_name as u_name,
		u.u_pwd as u_pwd,
		u.u_status as u_status,
		u.realname
		as u_realname,
		u.sex as u_sex,
		u.address as u_address,
		u.email as
		u_email,
		u.telephone as u_telephone,
		u.create_time as u_create_time
		FROM
		<include refid="table" />   r

		LEFT JOIN sys_tre_user_role ur ON ur.role_id = r.id
		LEFT JOIN sys_user
		u ON u.id = ur.user_id
		AND u.id = #{id} 
		where r.id &lt;&gt; 1
	</select>


</mapper>